@inherits LayoutComponentBase

<RadzenDialog/>
<RadzenNotification/>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        <div class="d-flex justify-content-end">
            <PeriodComponent />
        </div>

        <div>
            @Body
        </div>
    </div>
</div>
