@using Prism.Events;
@using Events;

@inject IEventAggregator eventAggegator

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PennyTracker</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <Radzen.Blazor.RadzenButton Text="Add" 
                                    Click="args => this.eventAggegator.GetEvent<AddTransactionEvent>().Publish()"
                                    Style="border-radius:50px; margin:10px"/>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
            <NavLink class="nav-link" href="/report" Match="NavLinkMatch.All">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Reports
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
