@page "/report"

<h2>Reports</h2>

@if (this.ViewModel?.ExpensesByCategory == null)
{
<div>
    <h3>Loading...</h3>
    <RadzenProgressBar Style="background-color:red" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
</div>
}
else
{
<div class="row">
    <div class="col-md-4">
        <RadzenChart>
            <RadzenPieSeries Data="@this.ViewModel.ExpensesByCategory"
                             Title="Total"
                             CategoryProperty="Category"
                             ValueProperty="Amount" >
            </RadzenPieSeries>
        </RadzenChart>
    </div>
</div>
}

@code
{
    [Inject]
    public IReportPageViewModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.ViewModel.RequestedUpdateState += (s, e) => this.StateHasChanged();
        await this.ViewModel.OnInitalializedAsync();
    }
}
