@page "/report"

<h2>Reports</h2>

@if (this.ViewModel?.ExpensesByCategory == null)
{
    <h3>Loading...</h3>
    <RadzenProgressBar Style="background-color:red" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
    <div class="row d-flex justify-content-end">
        <PeriodComponent/>
    </div>

    foreach (var item in this.ViewModel.ExpensesByCategory)
    {
        <h6>@item.Category</h6>
        <div class="row">
            <div class="col-6">
                <RadzenProgressBar Value="item.Percentage" />
                <RadzenProgressBar Value="42"></RadzenProgressBar>
            </div>
            <div class="col-3">@item.Amount</div>
        </div>

    }

}

@code
{
    [Inject]
    public IReportPageViewModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.ViewModel.RequestedUpdateState += (s, e) => this.StateHasChanged();
        await this.ViewModel.OnInitalializedAsync();
    }
}
