@page "/createExpense/{Id}"

@using PennyTracker.Web.Data
@using PennyTracker.Web.ViewModels

    <RadzenCard>
        <div class="row" style="margin:5px">
            <div class="col-md-4">
                <RadzenLabel Text="Category"></RadzenLabel>
            </div>
            <div class="col-md-8">
                <RadzenDropDown Placeholder="Category" Data="Enum.GetValues(typeof(Category))" 
                                SelectedItem="Category.Grocery" 
                                @bind-Value="this.ViewModel.Model.Category" Style="width:100%" />
            </div>
        </div>

        <div class="row" style="margin:5px">
            <div class="col-md-4">
                <RadzenLabel Text="Amount"></RadzenLabel>
            </div>
            <div class="col-md-8">
                <RadzenNumeric Placeholder="Amount" @bind-Value="this.ViewModel.Model.Amount" Style="width:100%" />
            </div>
        </div>

        <div class="row" style="margin:5px">
            <div class="col-md-4">
                <RadzenLabel Text="Description"></RadzenLabel>
            </div>
            <div class="col-md-8">
                <RadzenTextBox Placeholder="Description" @bind-Value="this.ViewModel.Model.Description" Style="width:100%" />
            </div>
        </div>

        <div class="row" style="margin:5px">
            <div class="col-md-4">
                <RadzenLabel Text="Date"></RadzenLabel>
            </div>
            <div class="col-md-8">
                <RadzenDatePicker Placeholder="Date" @bind-Value="this.ViewModel.Model.SpentDate" Style="width:100%" />
            </div>
        </div>

        <div class="row" style="margin:5px">
            <div class="col-md-8 offset-4 d-flex justify-content-md-end">
                <RadzenButton Text="Save" Click="this.ViewModel.OnButtonSaveClicked" ButtonStyle="ButtonStyle.Primary " Style="margin-right:5px"/>
                <RadzenButton Text="Cancel" Click="this.ViewModel.OnButtonCancelClicked" ButtonStyle="ButtonStyle.Secondary" />
            </div>
        </div>
    </RadzenCard>

@code
{
    [Inject]
    public ICreateExpenseViewModel ViewModel { get; set; }
}
